<div class="device-card__image-holder">
  <img class="device-card__phone-image" src={{device.imgURL}} alt="Device image">
  {{#if device.isBooked}}
    <img class="device-card__booked-image" src='assets/images/booked.png' alt="Device is booked">
  {{/if}}
</div>