{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{!-- {{#paper-button class="home-button"}}{{paper-icon "home"}}{{/paper-button}} --}}
    <img class='toolbar-image' src="assets/images/fourth.png" alt="Fourth">
    <span class="flex"></span>
    {{!-- {{#paper-button raised=true}}Learn More{{/paper-button}} --}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
