<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Disable dynamic compression on IIS 8.5 due to bandwidth throttling bug (not needed on IIS 10.0) -->
        <urlCompression doDynamicCompression="false" />

        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>

    <!-- set long time caching for folder with static assets that change their names-->
    <location path="assets">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
